.revistaPage {
  min-height: 100vh;
  width: 100%;
  background: #0029ff;
  padding: 52px 4.5vw 80px;
  box-sizing: border-box;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 13vw;
  row-gap: 22px;
}

.revista {
  width: 100%;
  max-width: 210px;
  text-decoration: none;
  color: white;
  display: block;
}

.portada {
  position: relative;
  width: 100%;
  aspect-ratio: 0.72 / 1;
  background: white;
  padding: 15px;
  box-sizing: border-box;
}

.imagen {
  object-fit: cover;
}

.nombre {
  margin: 0;
  padding-top: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  line-height: 1;
}


/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width: 1024px) {
  .revistaPage {
    padding: 40px 6vw 70px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12vw;
    row-gap: 35px;
  }

  .revista {
    max-width: 250px;
  }

  .portada {
    padding: 13px;
  }

  .nombre {
    font-size: 23px;
  }
}


/* ========================= */
/* MÓVIL */
/* ========================= */

@media (max-width: 600px) {
  .revistaPage {
    padding: 30px 9vw 60px;
  }

  .grid {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 35px;
  }

  .revista {
    width: 72vw;
    max-width: 280px;
  }

  .portada {
    padding: 12px;
  }

  .nombre {
    font-size: 22px;
  }
}